<div class="create-form form-container well well-lg" [style.display]="isDisplay?'block':'none'">
  <form class="form-inline">
  <div class="form-group">
    <label for="sel1">Routers: </label>
     <button type="button" (click)="addNewApplication()" class="btn btn-primary btn-xs" ><i class="glyphicon glyphicon-plus"></i></button>
    <br />
    <select id="sel1" #unSelected class="form-control router-list" multiple>
      <option *ngFor="let r of unSelectedRouters" >{{r}}</option>
    </select>
  </div>

  <div class="form-group">
    <button (click)="addRouter()" class="btn btn-primary btn-sm"> <span class="glyphicon glyphicon-arrow-right"></span></button>
    <br />
    <br />
    <button  (click)="resetRouter()" class="btn btn-primary btn-sm"> <span class="glyphicon glyphicon-arrow-left"></span></button>
  </div>

  <div class="form-group">
    <label for="sel2" >Selected</label>
    <br />
      <select id="sel2" #selected multiple="multiple" class="form-control router-list" >
        <option *ngFor="let r of selectedRouters" >{{r}}</option>
      </select>
   </div>

   <div class="form-group">
    <label for="sel3" >Subscription</label>
    <br />
      <select #subscrip class="form-control"  style="width:150px;" >
        <option *ngFor="let sub of subscriptions"> {{sub}}</option>
      </select> 
   </div>

   <div class="form-group">
    <br />
    <input type="submit" class="btn btn-primary" name="submit" value="Submit" (click)="onSubmit('data1',subscrip.value,true)"/>
 
   </div>


  </form>
</div>