<div class="" id="add_policy_dialog" >
    <!--close button -->
    <button (click) = "closeDialog()" class="btn  btn-danger btn-xs"  style="float:right"  >
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4>New Policy</h4>
    <hr />
    <!--form -->
    <form class="form-inline " role="form">
        <!--policy name-->
        <div class="form-group">
            <label class="control-label">Name</label>
            <br>
            <div class="input-group">
                <span class="input-group-addon" id="groupNameAddon"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                </span>
                <!--bind it to angular component -->
                <input required #newPolicyName type="text" class="form-control" placeholder="Policy Name"  aria-describedby="groupNameAddon"/>
            </div>
        </div>
        <br />
        <br />

        <!-- Policy description -->
        <div class="form-group">
            <label class="control-label">Description</label>
            <br />
            <input #newPolicyDescription required type="text" class="form-control" style="width:250px;" placeholder="Description" />
        </div>
        
        <div class="form-group">
            <label class="control-label">Comment</label>
            <br />
            <!--bind it to angular component -->
            <input #newPolicyComment type="text" class="form-control" placeholder="Comment" style="width:250px;" />
        </div>

        <br />
        <br />

        <div class="form-group">
            <label class="control-label">Identifier</label>
            <br />
            <input type="text"  class="form-control" placeholder="Identifier" style="width:250px;" />
        </div>


        <div class="form-group">
          <label class="control-label">Period</label>
          <br>     
          <input required #newPolicyPeriod type="number" class="form-control" style="width:80px;">
        </div>

        <br />
        <br />
         <label class="control-label">Path</label> 
            <fieldset style="border:1px solid grey; border-radius:3px;">
                 <div class="checkbox">
                    <label><input type="checkbox" value="">Path 1</label>
                </div>
                <br />
                <div class="checkbox">
                    <label><input type="checkbox" value="">Path 2</label>
                </div>
            </fieldset>     

       <div class="form-group">
            <br />
            <input type="submit" (click)="onSubmit(newPolicyName.value, newPolicyDescription.value, newPolicyComment.value,newPolicyPeriod.value)" class="form-control btn btn-primary" name="submit" value="Submit" />
        </div>

</form>
</div>