<div class="form-container well well-lg">
  <form class="form-inline " role="form">
    <div class="form-group">
      <label class="control-label">Policy name</label>
      <br>
      <br />
      <div class="input-group">
        <span class="input-group-addon" id="groupNameAddon">
          <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
        </span>
        <input type="text" class="form-control" placeholder="Policy Name"  aria-describedby="groupNameAddon"/>
      </div>

    </div>

    <div class="form-group">
      <label class="control-label">Group</label>
      <button class="btn btn-primary btn-xs" (click)="showAddGroupDialog()"><i class="glyphicon glyphicon-plus"></i></button>
      <br>
      <br />
      <select class = "form-control" style="width:120px;" >
        <option>Group1</option>
        <option>Group2</option>
        <option>Group3</option>
        <option>Group4</option>
      </select>
    </div>

    <div class="form-group">
      <label class="control-label">Sensor</label>
      <button class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i></button>
      <br>    
      <br/>

      <div class="btn-group">
       <button type="button" class="btn btn-default dropdown-toggle" 
       data-toggle="dropdown">
       Select Sensors &nbsp;&nbsp;<span class="caret"></span>
     </button>
     <ul class="dropdown-menu" role="menu">
      <li> 
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">Sensor 1
          </label>
        </div>
      </li>
      <li><a href="#">另一个功能</a></li>
      <li><a href="#">其他</a></li>
      <li class="divider"></li>
      <li><a href="#">分离的链接</a></li>
    </ul>
  </div>
</div>

<div class="form-group">
  <label class="control-label">Interval</label>
  <br>     
  <br />
  <input type="number" class="form-control">
</div>

<!-- toggle switch -->
<div class="form-group">
  <br />
  <br />
  <label class="switch">
    <input type="checkbox" checked>
    <div class="slider"></div>
  </label>
</div>


<div class="form-group">
  <br>
  <br />
  <input type="button" class="form-control btn btn-primary" name="submit" value="Submit" />
</div>
</form>
</div>